.wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #17a2b8;
  background-color: #4daeb3;
  
  .introduce {
    display: flex;
    // justify-content: space-evenly;
    flex-direction: column;
    line-height: 3.3rem;
    color: #fff;
    margin: 30px 0px 0px 125px;

    .intro {
      line-height: normal;
      letter-spacing: 0.5px;
      position: relative;
      font-size: 15px;
      margin: 0px 0 15px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }

    .list {
      text-decoration: none;
    }
    .icon {
      font-size: 18px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-right: 18px;
      padding: 10px;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  .newPost {
    color: #fff;
    margin-top: 30px;

    .new{
      padding-bottom: 12px;
    }

    .footerFlower {
      display: flex;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .footerNote {
        font-size: inherit;
        flex-direction: column;
        display: flex;
        color: #fff;
        word-wrap: break-word;
        font-weight: 400;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        width: 250px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        .time {
          color: #c1c1c1;
          font-size: 12px;
          font-style: italic;
          margin-bottom: 0px;
          line-height: 22px;
        }
      }
    }
  }
  .storeJewelry {
    color: #fff;
    margin-top: 30px;
    margin-left: 30px;

    .store {
      line-height: normal;
      letter-spacing: 0.5px;
      position: relative;
      font-size: 15px;
      margin: 0px 0 15px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }
    .list {
      line-height: 30px;
      padding-left: 0px;
      margin-top: 10px;
    }
  }
  .support {
    color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    .store {
      line-height: normal;
      letter-spacing: 0.5px;
      position: relative;
      font-size: 15px;
      margin: 0px 0 15px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }
    .list {
      line-height: 30px;
      padding-left: 0px;
      margin-top: 10px;
    }
  }
  .policy {
    color: #fff;
    margin: 30px 125px 0px 30px;
    .store {
      line-height: normal;
      letter-spacing: 0.5px;
      position: relative;
      font-size: 15px;
      margin: 0px 0 15px 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }
    .list {
      line-height: 30px;
      padding-left: 0px;
      margin-top: 10px;
    }
  }
}
