.wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #17a2b8;
  background-color: #4daeb3;
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    height: 90px;
    line-height: 60px;
    padding: 10px;
  }

  .center {
    width: 1000px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;

    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 360px;
      height: 30px;
      background-color: #ebebeb;
      border-radius: 5px;
      line-height: 30px;
      margin: 0px;
      border: 1px solid #ebebeb;
      min-height: initial;

      .input {
        padding-left: 12px;
        background-color: transparent;
        width: 100%;
      }

      .iconGlass {
        margin-right: 15px;
        opacity: 0.5;
      }
    }

    .menu {
      width: 100%;
      margin-top: 10px;
      padding-top: 2px;
      border-top: 1px solid #bbb8b8 !important;
      font-weight: 500;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: #71bec2;
          margin-bottom: 8px;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }

        li {
          padding: 10px;
          cursor: pointer;
          font-size: 16px !important;
          transition: color 0.3s ease;

          .iconFire {
            margin-left: 6px;
            color: red;
          }

          .iconArrow {
            margin-left: 8px;
          }

          .submenu {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            width: 1475px;
            height: 270px;
            background-color: #fff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
          }

          &:hover {
            color: #71bec2;
          }

          &:hover .submenu {
            display: block;
            color: black;
          }
        }
      }
    }

    .menu1 {
      display: flex;

      .ul1 {
        display: flex;
        flex-direction: column;
        line-height: 1.2rem;
        margin-left: 55px;
        .li1 {
          display: flex;
          flex-direction: column;
          line-height: 5px;
          margin-bottom: 70px;
          font-weight: 400;
          color: #aab1b0;
          font-size: 16px;
        }
      }
      .ul2 {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .li2 {
          line-height: 5px;
          margin-bottom: 70px;
          font-weight: 400;
          color: #aab1b0;
          font-size: 16px;
        }
      }
      .ul3 {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .li3 {
          line-height: 5px;
          color: #aab1b0;
          margin-bottom: 70px;
          font-weight: 400;
          font-size: 16px; 
        }
      }
      .ul4 {
        display: flex;
        // flex-direction: column;
        margin-left: 10px;
        .li4 {
          line-height: 5px;
          color: #aab1b0;
          margin-top: 19.5px;
          font-weight: 400;
          font-size: 16px; /* Tăng kích thước chữ */
        }
      }
      .imageContainer img {
        width: 465px;
        height: 190px;
        margin-left: 120px; 
        margin-top: 40px;
      }
      
      .headerli {
        color: black;
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .right {
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15px;

    .account {
      position: relative;
      text-align: center;
      width: 60px;
      height: 58px;

      .taikhoan {
        display: inline-block;
        width: 100%;
        line-height: normal;
        margin-top: 0px;
        font-weight: 600;
        color: #71bec2;
        font-size: 10px;
        text-transform: uppercase;
      }

      .iconUser {
        margin-top: 7px;
      }
    }

    .box {
      position: relative;
      text-align: center;
      width: 60px;
      height: 58px;
      .giohang {
        display: inline-block;
        width: 100%;
        line-height: normal;
        margin-top: 0px;
        font-weight: 600;
        color: #71bec2;
        font-size: 10px;
        text-transform: uppercase;
      }

      .iconCart {
        margin-top: 9px;
      }

      .cartCount {
        position: absolute;
        top: -1px;
        right: -2px;
        background-color: #00bfa5;
        color: white;
        border-radius: 50%;
        padding: 0px 5px;
        font-size: 10px;
      }
    }

    .circle {
      position: relative;
      width: 35px;
      height: 35px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #ccc;
      vertical-align: middle;
    }
  }
}
